{% extends "./base.html" %}
{% block title %} ToDo {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edit Task</h2>
        <div class="card">
            <div class="card-body">
                <form action="/edit_task/" method="post">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtTitle" name="txtTitle" class="form-control" placeholder="Title" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtDescription" name="txtDescription" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group mb-3">
                        <label for="txtDate" class="form-label">Date</label>
                        <input type="date" id="txtDate" name="txtDate" class="form-control" required>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="on" id="Status" name="Status" required>Completed
                    </div>
                    <div class="form-group mb-3 d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-success btn-block txt-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}